{% extends "base.html" %}

{% block content %}
<div class="column ">
    <h3 class="title">Add Template</h3>

    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/addtemplate" enctype="multipart/form-data">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Template name (*)</label>
                </div>
                <div class="field-body">
                    <div class="control">
                        <input class="input is-large" type="text" name="templatename" placeholder="Template Name"
                            autofocus="">
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Email body (*)</label>
                </div>
                <div class="field-body">
                    <div class="control">
                        <input class="input is-large" type="file" name="emailTemplate" placeholder="Template data file">
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Response page (optional)</label>
                </div>
                <div class="field-body">
                    <div class="control">
                        <input class="input is-large" type="file" name="responseTemplate" placeholder="Custom response page file">
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Training Material (optional)</label>
                </div>
                <div class="field-body">
                    <div class="control">
                        <input class="input is-large" type="file" name="materialTemplate"
                            placeholder="Custom response page file">
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <!-- spacing -->
                </div>
                <div class="field-body"></div>
                <div class="field">
                    <div class="control">
                        <button class="button is-block is-info is-large ">Send</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}