{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Add Template</h3>

    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/addtemplate" enctype="multipart/form-data">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="templatename" placeholder="Template Name"
                        autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="file" name="templatefile" placeholder="Template data file">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input type="checkbox" name="custompageargs" value="yespost">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="file" name="customresponsepagefile" placeholder="Custom response page file">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input type="checkbox" name="custompageargs" value="yesmaterial">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="file" name="custommaterialfile" placeholder="Custom response page file">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Send</button>
        </form>
    </div>
</div>
{% endblock %}