{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Send Email</h3>

    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/sendemail" enctype="multipart/form-data">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="sendaddr" placeholder="Sender Address" autofocus="">
                </div>
            </div>
             <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password of sender address" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="toaddr" placeholder="Receiving Address" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="subject" placeholder="Subject" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="fakename" placeholder="Fake name for phishing use" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="file" name="contentfile" placeholder="Email content (html file)">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Yeet</button>
        </form>
    </div>
</div>
{% endblock %}